@import "fonts"
@import "libs"
@import "vars"
@import "media"
// @import "media-queries"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	outline: 0 !important
	box-shadow: none
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #999
	opacity: 1

*:-moz-placeholder
	color: #999
	opacity: 1

*::-moz-placeholder
	color: #999
	opacity: 1

*:-ms-input-placeholder
	color: #999
	opacity: 1

//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//	color: #777
//body input:required:valid,
//body textarea:required:valid
//	color: #777

html, body
	height: 100%
	// width: 100%

html
  font-size: 10px

body
	font-size: 1.6rem
	line-height: 2
	overflow-x: hidden
	background-color: #fff
	position: relative
	color: #000
	font-family: $default-font
	margin: 0
	a
		text-decoration: none
		&:hover
			text-decoration: none

  img
    max-width: 100%
    height: auto

.main-urb
  overflow-x: hidden
.header-main
  height: 100vh
  min-height: 60rem
  width: 100%
  background-color: $background
  background-size: cover
  background-repeat: no-repeat
  display: flex
  flex-direction: column
  justify-content: flex-start
  overflow-x: hidden
  @include lg
    min-height: 52rem
  .header-row
    height: inherit
    width: 100%

.left-img
  min-height: 52rem
  width: auto
  position: relative
  background-size: contain
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 70%, rgba(#C9EEF6, 1)), url(../img/portrait.jpg) no-repeat 70% 80%, -10% 40%
  @include xl
    background-position: center
  @include lg
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 45%, rgba(#C9EEF6, 1)), url(../img/portrait.jpg) no-repeat
    background-position: 60% 40%
  @include md
    display: none
.header-main_content
  width: 100%
  padding: 3rem 3rem 0 0
  @include rwd(1400)
      padding: 1.4rem 1rem 0 0
  @include xl
      padding: 1.4rem 0 0 0
  @include lg
    padding: 1.4rem 1rem 0
  @include md
    padding: 1.4rem 2.4rem 0
  h1
    font-family: "merriweather-black"
    font-size: 4rem
    text-transform: uppercase
    color: $big-text
    line-height: 6.8rem
    letter-spacing: 0.2rem
    @include rwd(1300)
      font-size: 3.6rem
      margin-bottom: .4rem
    @include xl
      font-size: 2.8rem
      line-height: 4rem
    @include lg
      font-size: 2.4rem
    .and
      font-size: 3.2rem
      font-family: inherit
      @include xl
        font-size: 2.4rem

  .result
    font-family: $description-font
    font-size: 2.4rem
    text-transform: lowercase
    letter-spacing: normal
    @include lg
      font-size: 2rem
  .main-features
    font-family: $items-font
    font-size: 2.4rem
    color: #fff
    padding-right: 2rem
    @include xl
      font-size: 2rem
    @include lg
      font-size: 1.4rem
    .features-col
      @include md
        display: flex
        flex-direction: column
        align-content: center





.signature
  font-family: $description-font
  font-size: 1.4rem
  line-height: 2.2rem
  color: $big-text
  padding-top: 4rem
  @include xl
    padding-top: 2rem
  @include lg
    padding-top: 0


.one-feature
  background-color: $accent
  border-radius: $radius
  line-height: 3.6rem
  padding: 1.2rem 2.2rem
  @include xl
    line-height: 3rem
    padding: 1.2rem 1.8rem
  @include lg
    padding: 1rem 1.2rem
    margin: 1rem 0
    line-height: 2.4rem




.top-head
  width: 100%
  margin: 0 2rem
  display: flex
  justify-content: space-between
  @include lg
    margin: 0 1rem
  .main-logo
    width: 30%
    height: auto
    @include rwd(900px)
      width: 20%
    img
      width: 100%
      height: auto

.right-info
  width: 65%
  display: flex
  justify-content: space-between
  align-items: center
  padding-right: 2rem
  @include xl
    padding-right: 1rem
  @include lg
    padding-right: 0
  @include md
    justify-content: space-around
  .lang
    font-size: 2.4rem
    color: $accent
    line-height: 2rem
    //@include lg
    //  padding: 0 .1rem
    .onelang
      cursor: pointer
    .onelang.active
      color: #fff
      border-radius: $radius
      background-color: $accent
      padding: 0 1rem
      cursor: auto
    @include rwd(1400)
      font-size: 1.8rem
    @include xl
      font-size: 1.2rem
  .top-phones

      display: flex
      flex-direction: column
      font-size: 1.8rem
      line-height: normal
      a
        color: $accent
      @include rwd(1400)
        font-size: 1.4rem
      @include xl
        font-size: 1.2rem
.btn-blue
  font-family: $button-font
  color: #fff
  font-size: 2.4rem
  background-color: $accent
  padding: 1rem 1.8rem
  border-radius: $radius
  line-height: 2.4rem
  cursor: pointer
  border: none
  @include lg
    font-size: 1.8rem
  &:focus
    background-color: #fff
    color: $accent
    transition: .5s


.red-btn
  font-family: $button-font
  color: #fff
  font-size: 2.4rem
  background-color: $main-button
  padding: 1rem 1.8rem
  border-radius: $radius
  line-height: 2.4rem
  cursor: pointer
  box-shadow: none
  border: none
  @include lg
    font-size: 1.8rem
  &:focus
    background-color: #fff
    color: $main-button
      transition: .5s

.img-matchmaking
  //max-width: 30rem
  height: auto
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  @include lg
    justify-content: flex-end
  @include md
    justify-content: space-between
  img
    width: 100%
    height: auto
    @include lg
      width: 90%

  .red-btn
    margin: 1em 0
//.head-signature
//	display: flex
//	flex-direction: row
//	align-items: center
//	width: 100%
//	justify-content: space-between



.regular-header
	font-family: $headers-font
	font-size: 48px
	text-align: center
	padding-top: 3rem
.container-smaller
  width: 1200px
  margin: 0 auto
.about
	position: relative
	background: #fff
	//&:before
	//	content: ''
	//	display: block
	//	position: absolute
	//	border-radius: 100% 50%
	//	width: 340px
	//	height: 80px
	//	background-color: #fff
	//	right: -5px
	//	top: 40px
	//&:after
	//	content: ''
	//	display: block
	//	position: absolute
	//	border-radius: 100% 50%
	//	width: 300px
	//	height: 70px
	//	background-color: #fff
	//	left: 0
	//	top: 27px
	.regular-header
		color: $accent
.video-frame
  position: relative
  padding: 2.5rem 0
  height: 0
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.feature-about
  img
    width: 8rem
    height: 8rem
  display: flex
  align-items: center
  justify-content: center
  color: $main-button
  font-family: $items-font
  font-size: 2.8rem
  line-height: normal
  p
    padding-left: 4rem


.our-team
	background: linear-gradient(to top, #fff, #C9EEF6 )
	.regular-header
		color: $big-text

//.teammate
//	text-align: center
//	font-size: 2.2rem
//	line-height: normal
//	p
//		margin: 0
//.team-avatar
//	height: 17.6rem
//	width: 17.6rem
//	border-radius: 50%
//	background-color: #000

.top-reasons
  background-color: #fff
  max-width: 137rem
  margin: 0 auto
  padding-bottom: 10rem
  .regular-header
    color: $main-button
  .big-number
    font-family: "merriweather-black"
    font-size: 20rem
    color: $background
  .one-reason
    font-family: $items-font
    font-size: 2.4rem
    line-height: normal
    color: $big-text
    display: flex
    align-items: center

.get-ebook
  padding: 7rem 0
  background: linear-gradient(to right, rgba(#00CFEE, .5), rgba(#C9EEF6, .5)), url(../img/hearts.jpg) no-repeat
  background-size: cover
  text-align: center
  p
    font-family: $button-font
    font-size: 2.8rem
    color: $big-text
    line-height: normal
    max-width: 74rem
    margin: 0 auto
  .regular-header
    color: #fff
    padding: 0
    line-height: normal
  .red-btn
    padding: 1rem
    width: 24rem
  .facebook-btn
    padding: 1rem
    width: 24rem
    font-family: $button-font
    color: #fff
    font-size: 2.4rem
    background-color: #3b5998
    border-radius: $radius
    line-height: 2.4rem
    cursor: pointer
    box-shadow: none
    border: none
    margin-right: 2rem
    @include lg
      font-size: 1.8rem
    &:focus
      background-color: #fff
      color: #3b5998
      transition: ease .5s
.success-stories
  margin: 0 2rem
  display: flex
  flex-direction: column
  align-items: center
  .regular-header
    color: $big-text
  h4
    font-family: $items-font
    font-size: 2.4rem
    color: $big-text
    text-align: left
    margin: 1rem 0 0
  .red-btn
    margin: 7rem 0


.photo-story
	position: relative
	height: 264px
	width: 100%
	overflow: hidden
	border-radius: 8px
	img
		position: absolute
		//left: 0
		//top: 50%
		width: 100%
		height: auto
.story-wrap
  display: flex
  flex-direction: column
  align-items: center

.btn-to-blog
    font-family: $default-font
    color: #fff
    font-size: 2.2rem
    background-color: $accent
    padding: 1rem 1.8rem
    border-radius: $radius
    line-height: 2.4rem
    cursor: pointer
    box-shadow: none
    opacity: .4
    &:focus
      background-color: #fff
      color: $accent
      transition: .5s
    a
      color: #fff

.join-us-fb

  .join-header
    background: linear-gradient(to right, #00CFEE, #C9EEF6)
    color: #fff
    font-family: $items-font
    font-size: 3.6rem
    text-align: center
    line-height: 1.4
    padding: .2rem 0
  .fb-post
    display: flex
    align-items: center
    justify-content: center
    padding: 2rem 0

.contacts
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(#C9EEF6, 1) 45%), url(../img/girl.jpg) no-repeat 0 30%, 10% 50%
  //background-size: cover
  .contact-items
	  color: $big-text
	  padding: 10rem 5rem 10rem 10rem
	  .contact-items-one
		  padding-bottom: 7rem
		  display: flex
		  flex-direction: column
	  h4
		  font-family: $button-font
		  font-size: 3.6rem
		  margin: 0 0 2rem 0
		  line-height: normal
	  a
		  font-size: 2.4rem
		  color: $big-text
	  .btn-blue
		  margin-top: 3rem
.describe-form
	padding: 10rem 5rem 10rem
	h3
		color: $big-text
		font-size: 4.8rem
		font-family: $headers-font
		line-height: normal
.button-wrap
    display: flex
    justify-content: flex-end
//form
	//	display: flex
	//	flex-direction: column
	//	align-items: flex-end
.error-message
    color: $main-button
    padding: 0 0 0 2.4rem
.describe-form-field
	padding-bottom: 1rem
	height: 8.6rem
	input
		height: 5rem
		border-radius: 5rem


.describe-input
	border: none
	font-family: $default-font
	font-size: 1.8rem
	width: 100%
	padding-left: 2.4rem

.describe-form-field_text
	height: 15.4rem
	margin-bottom: 5rem
	textarea
      height: 15.4rem
      border-radius: 2rem
      padding-top: 1rem

footer
  margin: 0 auto
  .row
    padding: 3rem 0
    margin: 0 2rem
  .footer-item
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
  .small-contacts
    margin: 0
    font-family: $description-font
    font-size: 1.8rem
    line-height: normal
  .rights
    text-align: center
    background-color: $big-text
    color: #fff
    padding: 1.2rem 0
    p
      margin: 0
      line-height: normal