@import "fonts"
@import "libs"
@import "vars"
@import "media"
// @import "media-queries"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	outline: 0 !important
	box-shadow: none
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #999
	opacity: 1

*:-moz-placeholder
	color: #999
	opacity: 1

*::-moz-placeholder
	color: #999
	opacity: 1

*:-ms-input-placeholder
	color: #999
	opacity: 1

//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//	color: #777
//body input:required:valid,
//body textarea:required:valid
//	color: #777

html, body
	height: 100%
	// width: 100%

html
  font-size: 10px

body
	font-size: 1.6rem
	line-height: 2
	overflow-x: hidden
	background-color: #fff
	position: relative
	color: #000
	font-family: $default-font
	overflow-x: hidden
	margin: 0
	a
		text-decoration: none
		&:hover
			text-decoration: none

  img
    max-width: 100%
    height: auto


.header-main
	height: 100vh
	min-height: 80rem
	width: 100%
	background-color: $background
	background-size: cover
	background-repeat: no-repeat
	display: flex
	flex-direction: column
	justify-content: flex-start
	overflow-x: hidden
	.header-row
		height: inherit

.left-img
	height: 100vh
	width: auto
	position: relative
	background-size: contain
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 70%, rgba(#C9EEF6, 1)), url(../img/portrait.jpg) no-repeat 70% 80%, -10% 40%

	//img
	//	position: absolute



.header-main_content
	padding: 3rem 3rem 0 0
	h1
		font-family: "merriweather-black"
		font-size: 4rem
		text-transform: uppercase
		color: $big-text
		line-height: 6.8rem
		letter-spacing: 0.2rem
		.and
			font-size: 3.2rem
			font-family: inherit
		.result
			font-family: $description-font
			font-size: 2.4rem
			text-transform: lowercase
			letter-spacing: normal
	.main-features
		font-family: $items-font
		font-size: 2.4rem
		color: #fff
		padding-right: 8rem
		.one-feature
			background-color: $accent
			border-radius: $radius
			line-height: 3.6rem
			padding: 1.2rem 2.2rem

.top-head
	display: flex
	justify-content: space-between
	.main-logo
		width: 30%
		height: auto
		img
			width: 100%
			height: auto

.right-info
	width: 65%
	display: flex
	justify-content: space-between
	align-items: center
	padding-right: 2rem
	.lang
		font-size: 2.4rem
		color: $accent
		line-height: 2rem
		.onelang
			cursor: pointer
		.onelang.active
			color: #fff
			border-radius: $radius
			background-color: $accent
			padding: 0 1rem
			cursor: auto
	.top-phones
		display: flex
		flex-direction: column
		font-size: 1.8rem
		line-height: normal
		a
			color: $accent

.btn-blue
	font-family: $button-font
	color: #fff
	font-size: 2.4rem
	background-color: $accent
	padding: 1rem 1.8rem
	border-radius: $radius
	line-height: 2.4rem
	cursor: pointer
	box-shadow: none
	&:focus
		background-color: #fff
		color: $accent

.img-matchmaking
	max-width: 30rem
	height: auto
	img
		width: 100%
		height: auto

.head-signature
	display: flex
	flex-direction: row
	align-items: center
	width: 100%
	justify-content: space-between
	p
		font-family: $description-font
		font-size: 1.8rem
		line-height: 2.2rem

.red-btn
	font-family: $button-font
	color: #fff
	font-size: 2.4rem
	background-color: $main-button
	padding: 1rem 1.8rem
	border-radius: $radius
	line-height: 2.4rem
	cursor: pointer
	box-shadow: none
	border: none
	&:focus
		background-color: #fff
		color: $main-button
.regular-header
	font-family: $headers-font
	font-size: 48px
	text-align: center
	padding-top: 10rem
.about
	position: relative
	background: #fff
	//&:before
	//	content: ''
	//	display: block
	//	position: absolute
	//	border-radius: 100% 50%
	//	width: 340px
	//	height: 80px
	//	background-color: #fff
	//	right: -5px
	//	top: 40px
	//&:after
	//	content: ''
	//	display: block
	//	position: absolute
	//	border-radius: 100% 50%
	//	width: 300px
	//	height: 70px
	//	background-color: #fff
	//	left: 0
	//	top: 27px
	.regular-header
		color: $accent

.our-team
	background: linear-gradient(to top, #fff, #C9EEF6 )
	.regular-header
		color: $big-text
.container-smaller
	width: 1200px
	margin: 0 auto
.teammate
	text-align: center
	font-size: 2.2rem
	line-height: normal
.team-avatar
	height: 17.6rem
	width: 17.6rem
	border-radius: 50%

.top-reasons
	background-color: #fff
	.regular-header
		color: $main-button